.git
.github
.idea
.vscode

**/.DS_Store
**/*.log
**/*.tmp
**/*.temp
**/*.user
**/*.rsuser
**/*.suo

**/bin
**/obj
**/node_modules
**/dist
**/.vite
**/coverage

Quiz.AppHost/bin
Quiz.AppHost/obj
Quiz.CodingConsole/bin
Quiz.CodingConsole/obj
